html, body {
	padding: 2%;
	background-color: #F6FCF4;
	background-image: url("http://www.transparenttextures.com/patterns/fabric-plaid.png");
}

.search-column {
	display:inline-block;
	float: left;
	width: 25%;
	background-color: #D9ECBE;
	padding-right: .5%
}

#author-list {
	max-height: 350px;
	overflow:scroll;
}

#quotes-container {
	/*display:inline-block;*/
	float:right;
	width:70%;
	height:700px;
	background-color:#D9ECBE;
}

 .quote-block {
	/*display: inline-block;*/
	/*float:right;*/
	width: 95%;
	min-height: 400px;
	text-align: center;
	padding-top: 10%;
	background-color: whitesmoke;
	position: relative;
	top: 20px;
	left: 20px;
}

#quote-list {
	text-align: left;
	max-height: 200px;
	overflow: scroll;
}

#quote-list li {
	list-style-type: none;
	padding: 10px;
}

#author-names {
	padding: 10px;
	border-bottom-style: solid;
	list-style-type: none;
}

#genre-list {
	list-style-type: none;
	-moz-column-count: 2;
	-webkit-column-count:2;
	column-count: 2;
}

#genre-list li button {
	 width: 70%;
   height: 30px;
   text-align: center;
   margin: 4px;
}

/*lightest green: #F6FCED
*/


#add-quote-block {
	width: 70%;
	margin-top: 20%;
	display:inline-block;
	text-align: center;

}