<!DOCTYPE html>
<html ng-app="quoteApp">
<head>
	<title></title>
	<link rel="stylesheet" type="text/css" href="styles/styles.css">
</head>
<body ng-controller="quotesController">


	<div class="search-column">
		<h2>Authors</h2>
		<input type="text" placeholder="Search by author" ng-model="nameText.fullName"/>
		<ul id="author-list">
			<li id="author-names" ng-repeat="authors in authorsList" |  filter:nameText | orderBy: 'lastName'"><a href="#/{{authors.fullName}}">{{authors.firstName}} {{authors.lastName}}</a></li>
		</ul>
		<div class="genre-search">
			<h2>Search by genre</h2>
			<ul id="genre-list">
				<li ng-repeat="genre in genresList"><button>
					{{genre.genre}}</button></li>
				</ul>		
			</div>
		</div>

	<div ng-view><div>

		<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.5.5/angular.min.js"></script>
		<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.5.6/angular-route.min.js"></script>
		<script type="text/javascript" src="js/app.js"></script>
		<script type="text/javascript" src="js/quotesController.js"></script>
		<script type="text/javascript" src="js/addQuotesController.js"></script>
		<script type="text/javascript" src="js/authorController.js"></script>
	</body>
</html>